@page

@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="row">
    <div class="col-md-4 offset-4">
        <section>
            <form class="form-signin" method="post">
                @Html.AntiForgeryToken()
                <div class="text-center mt-5">
                    @*<img class="mb-4" src="/images/tilde-logo.svg" alt="" width="80">*@
                    <h1 class="hydra-tytle">HYDRA</h1>
                </div>
                <p class="my-4">
                    Welcome to Hydra Education Platform. Please, enter your credentials to get inside.
                </p>
                <div class="form-label-group my-3">
                    <input asp-for="Input.Email" type="email" class="form-control" placeholder="Email address" required="" autofocus=""/>
                </div>

                <div class="form-label-group my-3">
                    <input asp-for="Input.Password" type="password" class="form-control" placeholder="Password"/>
                </div>

                <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe">
                        <input asp-for="Input.RememberMe"/>
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                <div class="form-group mt-3">
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
                <div asp-validation-summary="All" class="text-danger"></div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
