@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration

<Div Class="hydra-card hydra-card-class">
    <header class="align-self-start p-1">@VideoClass.Name</header>
    <Div Class="d-flex" Style="width: 400px;">
        <Image Source="@_imageUrl"></Image>
        <Div Class="ml-3 text-black-50 text-left">@VideoClass.Description</Div>
    </Div>
    <footer class="align-self-start p-1">
        <Div Class="d-inline ml-1 text-muted">groups <Badge Pill="true" Color="Color.Secondary">@VideoClass.VideoGroups.Count</Badge></Div>
    </footer>
</Div>

@code {

    [Parameter]
    public VideoClass VideoClass { get; set; }

    private string _imageUrl;

    protected override void OnInitialized()
    {
        _imageUrl = $"{_configuration["ApiBaseUrl"]}{VideoClass.ImageUrl}";
    }

}