@using Microsoft.Extensions.Configuration

@inject IConfiguration _configuration

<Div Class="hydra-card hydra-card-class">
    <header>@VideoClass.Name</header>
    <Image Source="@_imageUrl"></Image>
    <footer><cite>@VideoClass.Description</cite></footer>
</Div>

@code {

    [Parameter]
    public VideoClass VideoClass { get; set; }

    private string _imageUrl;

    protected override void OnInitialized()
    {
        _imageUrl = $"{_configuration["ApiBaseUrl"]}{VideoClass.ImageUrl}";
    }

}