<Div Class="hydra-card hydra-card-group flex-row">
    <Image Source="@VideoGroup.ImageUrl" Class="rounded-circle"></Image>
    <Div Class="mx-4 d-flex flex-column">
        <h5>@VideoGroup.Name</h5>
        <p>@VideoGroup.Description</p>
    </Div>
</Div>

@code {

    [Parameter]
    public VideoGroup VideoGroup { get; set; }

}