@page "/"
<h3>Auth Index</h3>

<AuthorizeView Roles="Admin">
    <Authorized>@context.User.Identity?.Name</Authorized>
    <NotAuthorized>
        You are not authorized to see this content.
    </NotAuthorized>
</AuthorizeView>

@code {

}