@inherits LayoutComponentBase

<Layout Class="d-flex flex-column">
    <LayoutHeader>
        <AuthorizeView Roles="Admin, Trainer">
            <Authorized>
                @*@context.User.Identity?.Name*@
                <Button Color="Color.Warning" Type="@ButtonType.Link" To="ClassCreate">Create Class</Button>
            </Authorized>
        </AuthorizeView>
    </LayoutHeader>
    <LayoutContent Class="flex-grow-1">
        @Body
    </LayoutContent>
    <LayoutFooter>
        Hydra Education Project (HEP) - Video Module (VM) Ver.1.0.1.12 &copy;TU Gabrovo 2022 EE21805006
    </LayoutFooter>
</Layout>