@inherits LayoutComponentBase

<Layout Class="d-flex flex-column">
    <LayoutHeader>
        <Button Color="Color.Warning" Type="@ButtonType.Link" To="Class">Create Class</Button>
    </LayoutHeader>
    <LayoutContent Class="flex-grow-1">
        @Body
    </LayoutContent>
    <LayoutFooter>
        Footer
    </LayoutFooter>
</Layout>