<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hydra</title>
   
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css">
    
    <link rel="stylesheet" href="~/css/theme.css">
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body>
    <div class="wrapper d-flex align-items-stretch">
        <partial name="_SidebarPartial" />

       
        <div id="content" class="p-4 p-md-5 d-flex flex-column">
            <header class="flex-grow-0">
                <partial name="_TopNavPartial" />
            </header>
            <!-- Module Content  -->
            <main class="flex-grow-1">
                @RenderBody()
            </main>
            <partial name="_ValidateUserProfile" />
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/popper.js/umd/popper.min.js"></script>
    <script src="~/js/main.js"></script>


    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
