@model string

<div id="app">
    <div class="text-center">
        <div class="spinner-border"></div>
        <div class="text-muted">Loading module ...</div>
    </div>
</div>

<script type="text/javascript">

    let base = document.getElementsByTagName("base")[0];
    if (!!!base) {
        base = document.createElement("base");
        document.getElementsByTagName('head')[0].appendChild(base);
    }
    base.href = "/@Model/";

</script>

<script src="/@Model/_framework/blazor.webassembly.js"></script>