@model string

<div id="app">
    <div class="text-center">
        <div class="spinner-border"></div>
        <div class="text-muted">Loading module ...</div>
    </div>
</div>

<script type="text/javascript">


    const base = document.createElement("base");
    base.href = "/@Model/";
    document.getElementsByTagName('head')[0].appendChild(base);


</script>

<script src="/@Model/_framework/blazor.webassembly.js"></script>