@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> _signInManager

@if (_signInManager.IsSignedIn(User))
{
    <nav id="sidebar" class="active">
        <h1><a href="/" class="logo"><img src="~/images/bachelor-cap.png" alt="" width="50"></a></h1>
        <ul class="list-unstyled components mb-5">
            <li class="active">
                <a href="#"><span class="fa fa-home"></span> Home</a>
            </li>
            @if (User.IsInRole("Admin"))
            {
                <li>
                    @* Server Side Blazor *@
                    <a href="/Auth"><span class="fa fa-users-cog"></span> Users</a>
                </li>
            }
            <li>
                @* Client Side Blazor *@
                <a href="/Video"><span class="fa fa-video"></span> Video</a>
            </li>
        </ul>

        <div class="footer">
            <p>
                Copyright &copy; @DateTime.Now.Year <br><em>Tsvetan Raykov</em> <br><em>EE 21805006</em>
            </p>
        </div>
    </nav>
}