@{
    const string module = "Video";

    ViewData["Title"] = "Hydra - Video";
    ViewData["ModuleTitle"] = "Video Share";
}

<div id="app" class="h-100">
    <div class="text-center m-5">
        <div class="spinner-border"></div>
        <div class="text-muted">Loading @module module ...</div>
    </div>
</div>

<script src="/@module/index.js" id="index--script" data-module="@module"></script>