@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

.form-control {
    /* box-sizing: content-box; */
    height: 48px;
}

.hydra-tytle {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 5rem;
}