@import url('https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&display=swap');

#app {
    height: 100% !important;
}

.b-layout-root {
    height: 100% !important;
}

.hydra-tytle {
    font-family: 'Covered By Your Grace', cursive;
    font-size: 5rem;
}

.footer {
    position: absolute;
    bottom: 0;
}
.page-link {
    cursor: pointer;
}

.page-item.active .page-link {
    z-index: 3 !important;
    color: #fff !important;
    background-color: #007bff !important;
    border-color: #007bff !important;
    pointer-events: inherit !important;
    cursor: pointer !important;
}
