@page "/ClassCreate"

@using Hydra.Module.Video.Contracts

@inject NavigationManager _navigationManager
@inject IClassService _classService


<ManageComponent @ref="_manageComponent" ManagedItem="_videoClass">
    <Button Color="Color.Warning" Clicked="@CreateClass">Create</Button>
</ManageComponent>

@code
{
    private readonly VideoClass _videoClass = new();

    private ManageComponent _manageComponent;

    private async Task CreateClass()
    {

        if (_manageComponent.Validate())
        {

            if (await _classService.CreateClassAsync(_videoClass))
            {
                _navigationManager.NavigateTo("/Video");
            }
        }
    }

}