@page "/"

@inject IHttpClientFactory _clientFactory

@code {

    private HttpClient _httpClient;

    protected override void OnInitialized()
    {
        _httpClient = _clientFactory.CreateClient("authorized");
    }

    private async Task DoTestCall()
    {
        var response = await _httpClient.GetAsync("api/video/Class");
    }

    private async Task DoNoCall()
    {
    }
}


<h1>Hello, video!</h1>

<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name
        <Button Color="Color.Primary" Clicked="@DoTestCall">TEST API</Button>
        <Button Color="Color.Warning" Clicked="@DoNoCall">TEST API</Button>
    </Authorized>
    <NotAuthorized>
        Anonymous
    </NotAuthorized>
</AuthorizeView>
