@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<AuthorizeView Roles="Admin">
    <Authorized>@context.User.Identity?.Name</Authorized>
    <NotAuthorized>
        Anonymous
    </NotAuthorized>
</AuthorizeView>