@page "/"

@inject AuthenticationStateProvider _authenticationStateProvider
@inject IClassService _classService;

@attribute [Authorize]


@if (_videoClasses != null)
{
    <Div Class="d-flex flex-wrap">
        @if (_videoClasses.Any())
        {
            foreach (var videoClass in _videoClasses)
            {
                <Div Class="m-4">
                    <a href="@($"Class/{videoClass.Id}")">
                        <ClassCard VideoClass="@videoClass" />
                    </a>
                </Div>
            }
        }
        else
        {
            <Label>There are no classes defined yet.</Label>
        }
    </Div>
}
else
{
    <Div Class="text-center">
        <Div Class="spinner-border"></Div>
        <Div Class="text-muted">Loading content ...</Div>
    </Div>
}

@code {

    private ClaimsPrincipal _user;
    private List<VideoClass> _videoClasses;

    protected override async void OnInitialized()
    {
        var authenticationState = await _authenticationStateProvider.GetAuthenticationStateAsync();
        _user = authenticationState.User;
        _videoClasses = await _classService.GetClassesAsync(_user.Identity?.Name);
        StateHasChanged();
    }

}
