@page "/PlaylistCreate"

@inject IPlaylistService _playlistService
@inject NavigationManager _navigationManager

<ManageComponent ManagedItem="_playlist" @ref="_manageComponent">
    <Div Class="align-items-baseline d-flex flex-column h-100 justify-content-between">
        <h5>Create a new playlist to group videos within.</h5>
        <Button Color="Color.Primary" Clicked="@CreatePlaylist">Create</Button>
    </Div>
</ManageComponent>


@code {


    private readonly VideoPlaylist _playlist = new();

    private ManageComponent _manageComponent;

    private async Task CreatePlaylist()
    {

        if (_manageComponent.Validate())
        {

            if (await _playlistService.CreatePlaylistAsync(_playlist))
            {
                _navigationManager.NavigateTo("/Video");
            }
        }
    }


}