@page "/PlaylistCreate"
@using Hydra.Module.Video.Contracts

@inject IPlaylistService _playlistService
@inject NavigationManager _navigationManager

<ManageComponent ManagedItem="_playlist" @ref="_manageComponent">
    <Button Color="Color.Warning" Clicked="@CreatePlaylist">Create</Button>
</ManageComponent>


@code {


    private readonly Playlist _playlist = new();

    private ManageComponent _manageComponent;

    private async Task CreatePlaylist()
    {

        if (_manageComponent.Validate())
        {

            if (await _playlistService.CreatePlaylist(_playlist))
            {
                _navigationManager.NavigateTo("/Video");
            }
        }
    }


}